<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Inventorystoresfinder>
            <version>0.1.0</version>
        </Magestore_Inventorystoresfinder>
    </modules>
    <global>
        <models>
            <inventorystoresfinder>
                <class>Magestore_Inventorystoresfinder_Model</class>
                <resourceModel>inventorystoresfinder_resource</resourceModel>
            </inventorystoresfinder>
            <inventorystoresfinder_resource>
                <class>Magestore_Inventorystoresfinder_Model_Resource</class>
                <entities>
                    <warehouse_location>
                        <table>erp_inventory_warehouse_location</table>
                    </warehouse_location>
                </entities>
            </inventorystoresfinder_resource>
        </models>
        <blocks>
            <inventorystoresfinder>
                <class>Magestore_Inventorystoresfinder_Block</class>
            </inventorystoresfinder>
        </blocks>
        <helpers>
            <inventorystoresfinder>
                <class>Magestore_Inventorystoresfinder_Helper</class>
            </inventorystoresfinder>
        </helpers>
        <resources>
            <inventorystoresfinder_setup>
                <setup>
                    <module>Magestore_Inventorystoresfinder</module>
                </setup>
            </inventorystoresfinder_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <inventorystoresfinder>
                    <file>inventorystoresfinder.xml</file>
                </inventorystoresfinder>
            </updates>
        </layout>
        <events>
            <inventoryplus_warehouse_save_after>
                <observers>
                    <magestore_inventorystoresfinder>
                        <type>model</type>
                        <class>Magestore_Inventorystoresfinder_Model_Observer</class>
                        <method>warehouseSaveAfter</method>
                    </magestore_inventorystoresfinder>
                </observers>
            </inventoryplus_warehouse_save_after>
            <warehouse_edit_tab_form>
                <observers>
                    <magestore_inventorystoresfinder>
                        <type>model</type>
                        <class>Magestore_Inventorystoresfinder_Model_Observer</class>
                        <method>addWarehouseMap</method>
                    </magestore_inventorystoresfinder>
                </observers>
            </warehouse_edit_tab_form>
        </events>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <magestore_inventorystoresfinder>
                    <file>inventorystoresfinder.xml</file>
                </magestore_inventorystoresfinder>
            </updates>
        </layout>
        <routers>
            <inventorystoresfinder>
                <use>standard</use>
                <args>
                    <frontName>inventorystoresfinder</frontName>
                    <module>Magestore_Inventorystoresfinder</module>
                </args>
            </inventorystoresfinder>
        </routers>
    </frontend>
    <default>
        <inventoryplus>
            <storesfinder>
                <storesfinder_enable>1</storesfinder_enable>
                <api_key></api_key>
                <display_show_store_name>1</display_show_store_name>
                <display_show_store_address>1</display_show_store_address>
                <display_show_store_description>1</display_show_store_description>
                <display_show_store_stocking>1</display_show_store_stocking>
            </storesfinder>
        </inventoryplus>
    </default>
</config>